* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;  
}

:root {
    --cor-de-fundo: rgb(4, 4, 20);
    --borda-menu: rgb(241, 226, 226);
    --Texto-links: rgb(221, 217, 217);
    --hover-titulos: rgb(14, 206, 187);
    --active-titulos: rgb(13, 226, 67);
}

.container {
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    border-bottom: 2px solid var(--borda-menu);
}


.logo-link {
    color: var(--Texto-links);   
}

.logo-link:hover {
    cursor: pointer;
    color: var(--hover-titulos);
    transition: .5s;
}

.logo-link:active {
    color: var(--active-titulos);
    transition: none;
}

.menu-container {
    display: flex;    
}

#btn-mobile {
    display: none;
}

.menu-item {
    color: var(--Texto-links);
    margin-left: 16px;
    align-items: center;
}
.menu-item:hover {
    color: var(--hover-titulos);
}

.menu-item:active {
    color: var(--active-titulos);
}

@media screen and (max-width: 500px) {
    .menu-container {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        height: 0;
        background: rgba(0, 0, 0, .50);
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        
    }

    #nav.active .menu-container {
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }

    #btn-mobile {
        display: flex;
        font-size: 1rem;
        border:none;
        background: none;
        cursor: pointer;
        color: rgb(201, 22, 22);
        gap: .5rem;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before  {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(45deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-45deg);
        top: -7px;
    }

    li {
        margin: 16px;
        text-align: center;
        font-size: 1.5rem;
    }

    .menu-item {
        margin-left: 0;
    }
}